body { background-color: #B9C2C9; margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif; overflow-y: scroll; overflow-x: hidden; width: 100% }


.header1{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
.para1{
    font-size: 14px;
}
.arrow{
    width: 60px;
    height: auto;
}
/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]       SPLASH SECTION STYLES        [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.splashContainer{
    position: relative;
    width: 100%;
    height: 255px;
    background-image: url(images/splash1.jpg);
    background-size: 100vw auto;
    background-position: center;
}
.lgLogo{
    width:95%;
    left:2.5%;
    position: absolute;
    top: 120px;
    margin: 0 auto;
}
.lgLogoImg{
    width: 100%;
    height: auto;
}
.splashNav{
    color: rgb(238, 236, 227);
    background-color: rgb(33, 33, 37);
    width: 100%;
    height: 55px;
    top:250px;
    position: absolute;
}
.splashNavText{
    font-size: 32px;
    color: rgb(238, 236, 227);
    visibility: hidden;
    position: absolute;
    left:15;
    right:0;
    top: 190px;
}
a.splashNavLink:link,:visited{
    color: rgb(238, 236, 227);
    text-decoration: none;
}
a.splashNavLink:hover{
    color: #af534d;
    text-decoration: none;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]       GENERAL SECTION STYLES       [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.generalContainer {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 236, 236);
    background-image: url(images/splash2.jpg);
    background-size: cover;
}
.generalWrapper{
    width:100%;
    height:85%;
    position: relative;
    margin: 0 auto;
}
.generalTag{
    width: 100%;
    top: 265px;
    text-align: center;
    margin:0 auto;
    position: relative;
    color: #e3e4de;
    font-size: 56px;
    filter: drop-shadow(3px 3px 2px #00000079);
    line-height: 80px;
}
.servHead{
    font-family: 'Changa One', cursive;
    color: #e3e4de;
    background-color: #5aa370;
    padding:5px;
    position: absolute;
    top: 81%;
    left: 50px;
    font-size: 90px;
    font-weight: 700;
    height: 95px;
    margin:0 auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:1;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]      SERVICES SECTION STYLES       [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.servicesContainer {
    background-color: #dddddd;
}
.servicesWrapper{
    height: auto;
}
.servImg{
    width:80%;
    height: auto;
    position: relative;
    left:10%;
}
.serv0{ height:0px; }
.serv1{
    border-left: solid #b17f54 15px;
    width:100%
}
.serv2{
    border-left: solid #5aa370 15px;
}
.serv3{
    border-left: solid #b35851 15px;
}
.serv4{ height:0px; }
.servicesPrice{
    background-color: #b17f54;
    position: relative;
    width:100%;
    height:65px;
}
.servicesPrice2{
    background-color: #5aa370;
    position: relative;
    width:100%;
    height:65px;
}
.servicesPrice3{
    background-color: #b35851;
    position: relative;
    width:100%;
    height:65px;
}
.servicesPriceP{
    font-size: 50px;
    text-align: center;
    position: relative;
    color: #e3e4de;
    font-weight:500;
}
ul{
    list-style-position: inside;
}
ul li{
    padding-top:2px;
    padding-bottom:2px;
    font-size: 20px;
    text-align: center;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]        ABOUT SECTION STYLES        [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.aboutContainer {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}
.aboutHead{
    font-family: 'Changa One', cursive;
    color: #e3e4de;
    background-color: #b17f54;
    padding:5px;
    position: absolute;
    top: 88%;
    right: 50px;
    font-size: 90px;
    font-weight: 700;
    height: 95px;
    margin:0 auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:1;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]       CONTACT SECTION STYLES       [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.contactContainer {
    width: 100vw;
    height: 100vh;
    background-color: #dddddd;
}
.contactWrap{
    width: 90%;
    position: relative;
    margin: 0 auto;
}
.contactText{
    font-size: 40px;
    height:8%;
}
.input1{
    width: 100%;
    height: 6%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    position: relative;
}
.input1-1{
    width: 100%;
    height: 6%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.input2{
    width: 100%;
    height:62%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.button{
    width:100%;
    height:6%;
    background-color: #b35851;
    border: #b35851 1px solid;
    color: white;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 0 auto;
}
.contactHead{
    font-family: 'Changa One', cursive;
    color: #e3e4de;
    background-color: #af534d;
    padding:5px;
    position: absolute;
    top: 95%;
    left: 50px;
    font-size: 90px;
    font-weight: 700;
    height: 95px;
    margin:0 auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:1;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
  [][][][][][]        FOOTER SECTION STYLES       [][][][][][][][][]
  [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/
.footerContainer{
    height: 250px;
    text-align: center;
    font-size: 26px;
    padding-top:10px;
}
.footerWrapper{
    display: grid;
    width: 100vw;
    position: relative;
    margin:0 auto;
    grid-template-columns: 1fr 40% 60% 1fr;
    /*grid-template: 
        ". servHead servHead servHead ."
        "serv0 serv1 serv2 serv3 serv4";*/
}
.ft1{
    width:300px;
    text-align: left;
}
.ft2{
    width:700px;
    text-align: left;
}
.footerP1{
    font-size: 26px;
}
.footerContainer A{
    color: rgb(38, 38, 73);
    font-weight: 900;
}